
.profilePage{
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.user {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.actions{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}