

.friend{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(253, 112, 112);
    border-radius: 10px;
    transition: all .3s ease;
}

.friend:active {
    transform: scale(0.99);
}